

<body>
<div id="big-wrapper">
	<h1 id="main-header">New Hope Indiana</h1>
	<div id="streaming-banner"><img src="rails.png"></div>
		
			
		<ul id="main-nav">
			<li id="link"><%= link_to "About", "#" %></li>
			<li id="link"><%= link_to "Calendar", "#" %></li>
			<li id="link"><%= link_to "Meet the Leaders", "#" %></li>
			<li id="link"><%= link_to "Album", "#" %></li>
			<li id="link"><%= link_to "Sermons", sermons_path %></li>
			<li id="link"><%= link_to "Blog", blogs_path %></li>
			<li id="welcome-section"></li>
		</ul>

	
	
	<aside id="welcome-section">
		This is the welcome section
	</aside>

	<aside id="information-section">
		This is another section
	</aside>
</div>
<div id="footer">
	<aside id="social">
		<h4>Social</h3>
		<p class="fb-like" data-send="true" data-width="450" data-show-faces="true">
		</p>
		<a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
	</aside>
	<footer id="the-footer">
			Copyright David Berko 2012
	</footer>
</div>
</body>







<script type="text/javascript">
	
	(function(d, s, id) {
  	var js, fjs = d.getElementsByTagName(s)[0];
  		if (d.getElementById(id)) return;
  		js = d.createElement(s); js.id = id;
  		js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  		fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));

	!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
</script>