


<div id="big-wrapper" style="">
	<h1 id="main-header">New Hope Indiana</h1>
		<div id="streaming-banner"><img src="rails.png"></div>
		<div>
			<table id="side-nav">
				<tr>
					<td id="link"><%= link_to "About", "#" %></td>
				</tr>
				<tr>
					<td id="link"><%= link_to "Calendar", "#" %></td>
				</tr>
				<tr>
					<td id="link"><%= link_to "Meet the Leaders", "#" %></td>
				</tr>
				<tr>
					<td id="link"><%= link_to "Album", "#" %></td>
				</tr>
				<tr>
					<td id="link"><%= link_to "Sermons", sermons_path %></td>
				</tr>
				<tr>
					<td id="link"><%= link_to "Blog", blogs_path %></td>
				</tr>
				<tr>
					<td id="social">
						<h4>Social</h3>
						<div class="fb-like" data-send="true" data-width="450" data-show-faces="true">
						</div>
						<a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
					</td>
				</tr>
			</table>
		 </div>
				
			<table id="right-sidebar">
					<th><em>Latest Blogs</em><button id="plus">+</button><button id="minus">-</button></th>
					
					<td id="latest-blog">
							
						<% @blogs.each do |b| %>
							<p id="blog-body"><%= b.body %><p>
						<%= link_to "continue reading", blog_path(b) %>
					<% end %>
					</td>
					
				</tr>
			</table>
		</div>
		<footer>
				Copyright David Berko 2012
		</footer>
</div>

<script type="text/javascript">
	
	(function (){
		var body = $('#blog-body')
			
		$('button#plus').on('click', function() {
			body.animate({
				'fontSize': '+=5',
				'width': '+=200'

			});
		});

		$('button#minus').on('click', function() {
			body.animate({
				 'fontSize': '-=5',
				 'width': '-=200'
			});
		});	
	})();

	(function(d, s, id) {
  	var js, fjs = d.getElementsByTagName(s)[0];
  		if (d.getElementById(id)) return;
  		js = d.createElement(s); js.id = id;
  		js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  		fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));

	!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
</script>