


<div id="big-wrapper" style="">
	<h1 id="main-header">New Hope Indiana</h1>
		<div id="streaming-banner"><img src="rails.png"></div>
		<div>
			<table id="side-nav">
				<tr>
					<td id="link"><%= link_to "About", "#" %></td>
				</tr>
				<tr>
					<td id="link"><%= link_to "Calendar", "#" %></td>
				</tr>
				<tr>
					<td id="link"><%= link_to "Meet the Leaders", "#" %></td>
				</tr>
				<tr>
					<td id="link"><%= link_to "Album", "#" %></td>
				</tr>
				<tr>
					<td id="link"><%= link_to "Sermons", "#" %></td>
				</tr>
				<tr>
					<td id="link"><%= link_to "Blog", blogs_path %></td>
				</tr>
				<tr>
					<td id="social">Facebook</td>
				</tr>
			</table>
			<table id="right-sidebar">
					<th><em>Latest Blogs</em><button id="plus">+</button><button id="minus">-</button></th>
					
					<td id="latest-blog">
							
						<% @blogs.each do |b| %>
							<p id="blog-body"><%= b.body %><p>
						<%= link_to "continue reading", blog_path(b) %>
					<% end %>
					</td>
					
				</tr>
			</table>
		</div>
		<footer>
				Copyright David Berko 2012
		</footer>
</div>

<script type="text/javascript">
	
	(function (){
		var body = $('#blog-body')
			
		$('button#plus').on('click', function() {
			body.animate({
				'fontSize': '+=5',
				'width': '+=200'

			});
		});

		$('button#minus').on('click', function() {
			body.animate({
				 'fontSize': '-=5',
				 'width': '-=200'
			});
		});	
	})();

</script>